<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Mongoose Flights</title>
</head>
<body>
    <h2>Book a New Flight</h2>
    <form action="/flights" method="POST">
        <label>Airline:
            <select name="airline">
                <option value="american">American</option>
                <option value="southwest">Southwest</option>
                <option value="united">United</option>
            </select>
        </label>
        <br>
        <label>Airport: 
            <select name="airport">
                <option value="AUS">AUS</option>
                <option value="DFW">DFW</option>
                <option value="DEN" selected>DEN</option> <!-- makes DEN the default -->
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select>
        </label>
        <br>
        <label>Flight #:
            <input type="number" name="flightNo" min="0" max="9999"> <!-- change input type from text to number -->
        </label>
        <br>
        <label>Departs:
            <input type="datetime-local" name="depart"> <!-- makes user enter valid date and time and not anything they want -->
        </label>
        <br>
        <input type="submit" value="Add Flight">
    </form>
    
</body>
</html>